/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
  font-size: 75%;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}

/*dark mode style */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode a {
    color: #bb86fc;
}

/* additional dark mode styles for other element*/
.dark-mode .navbar {
    background-color: #333;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}
