{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<table class="table table-striped">
  <thead>
    <div class="mb-3">
      <tr>
        <th>Roll No.</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Grade</th>
        <th>Section</th>
        <th>Age</th>
      </tr>
    </div>
    {% for student, age in stuff %}
    <tr class="mb-3">
      <td>{{ student["id"] }}</td>
      <td>{{ student["full_name"] }}</td>
      {% if student["male"] %}
      <td>Male</td>
      {% else %}
      <td>Female</td>
      {% endif %}
      <td>{{ student["grade"] }}</td>
      <td>{{ student["section"] }}</td>
      <td>{{ age }}</td>
    </tr>
    {% endfor %}
  </thead>
</table>
{% endblock %}
